body {
    background-color: rgb(84, 117, 33);
}

.card {
    border: 3px solid black;
    background-color: rgba(153, 255, 0, 0.3);
    margin: auto;
    width: 300px;
    padding: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.texto {
    text-align: center;
    color: wheat;
    font-family: Arial, Helvetica, sans-serif
}

.texto2 {
    text-align: flex-start;
    color: wheat;
    font-family: Arial, Helvetica, sans-serif
}

.texto input {
    width: 250px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 30px;
}

.btn {
    background-color: rgb(107, 158, 31);
    color: white;
    padding: 10px 20px;
    border: auto;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3;
    
}

btn:hover {
    background-color: rgb(157, 146, 23);
    transform: scale(1.5);
}