body {
    background-color: blue;
    color: rgb(204, 167, 0);
    width: 1000px;
    height: 670px;
    overflow: hidden;

}

main {
    background-color: red;
    width: 1425px;
    height: 670px;
}

a{
    color: rgb(204, 167, 0);
}

a:hover {
    color: rgb(204, 167, 0);
}

.texto {
    text-align: center;
    color: rgb(204, 167, 0);
    font-family: Arial, Helvetica, sans-serif
}

.texto2 {
    text-align: flex-start;
    color: rgb(204, 167, 0);
    font-family: Helvetica;
    font-size: 18px;
}

.texto3 {
    text-align: flex-start;
    color: rgb(204, 167, 0);
    font-family: Helvetica;
    font-size: 15px;
}

header {
    background-color: rgb(0, 251, 255);
    height: 120px;
    width: 1405px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container {
    backdrop-filter: blur(20px);
    background-color: rgb(93, 17, 96);
    margin: 10px;
    height: 520px;
    width: 150px;
    margin-top: 15px;
    margin-left: 10px;
}

.logo {
    width: 300px;
    padding: 10px;
    height: 80%;
}

.container2{
    background-color: brown;
    width: 1235px;
    height: 520px;
    margin-left: 180px;
    margin-top: -530px;
}



.img{
    background-color: blue;
    height: 160px;
    width: 200px;
}

.subimg2 {
    background-color: rgb(84, 117, 33);
    width: 180px;
    height: 160px;
    background-size: 40px;

}

.pai{
    background-color: rgb(0, 251, 255);
    height: 200px;
    width: 200px;
    margin-left: 250px;
    margin-top: -400px;
}

.pai2{
    background-color: rgb(0, 251, 255);
    height: 200px;
    width: 200px;
    margin-left: 650px;
    margin-top: -200px;
}

.pai3{
    background-color: rgb(0, 251, 255);
    height: 200px;
    width: 200px;
    margin-left: 1050px;
    margin-top: -200px;
}

.cadastro {
    margin: 10px;
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: rgb(204, 167, 0);

}

.login {
    margin: 10px;
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.personagens {
    margin: 10px;
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.jogos {
    margin: 10px;
    width: 5px;
    height: 30px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.curiosidades {
    margin: 10px;
    width: 5px;
    height: 30px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}

.sobreMim {
    margin: 10px;
    width: 5px;
    height: 30px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.sair {
    margin: 10px;
    width: 5px;
    height: 30px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
