body {
    background-size: 100%;
    background-image: url("../assets/aesthetic-landscape-breath-of-the-wild-hd-riblcopx7wsstlgd.jpg");
    color: rgb(204, 167, 0);
    overflow: hidden;
}

header {
    background-color: rgba(64, 96, 17, 0.438);
    height: 120px;
    width: 1380px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main {
    background-color: none;
    margin: 10px;
    height: 600px;

}

.container {
    backdrop-filter: blur(20px);
    background-color: rgba(64, 96, 17, 0.478);
    margin: 10px;
    height: 560px;
    width: 150px;
    margin-top: -570px;
    margin-left: 10px;
}

.container2 {
    background-color: rgba(64, 96, 17, 0.416);
    margin: 10px;
    height: 560px;
    margin-left: 170px;

}

.cadastro {
    margin: 10px;
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: rgb(204, 167, 0);

}

.login {
    margin: 10px;
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.personagens {
    margin: 10px;
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.jogos {
    margin: 10px;
    width: 5px;
    height: 30px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.curiosidades {
    margin: 10px;
    width: 5px;
    height: 30px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}

.sobreMim {
    margin: 10px;
    width: 5px;
    height: 30px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.logo {
    width: 300px;
    padding: 10px;
    height: 80%;
}

.pai {
    backdrop-filter: blur(4px);
    background-color: rgba(23, 112, 9, 0.6);
    width: 850px;
    height: 115px;
    margin: 10px;
    margin-top: -490px;
    margin-left: 180px;

}

.pai2 {
    backdrop-filter: blur(4px);
    background-color: rgba(23, 112, 9, 0.6);
    width: 850px;
    height: 115px;
    margin: 30px;
    margin-left: 180px;
}

.pai3 {
    backdrop-filter: blur(4px);
    background-color: rgba(23, 112, 9, 0.6);
    width: 850px;
    height: 115px;
    margin: 10px;
    margin-left: 180px;

}

.imagem1 {
    background-color: rgba(13, 92, 8, 0.595);
    width: 170px;
    height: 170px;
    margin-top: -395px;
    margin-left: 1150px;
}

.imagem2 {
    background-color: rgba(92, 8, 8, 0.595);
    width: 170px;
    height: 170px;
    margin-top: 70px;
    margin-left: 1150px;
}

.subimg {
    background-color: rgb(84, 117, 33);
    width: 150px;
    height: 150px;
    background-size: 40px;

}

.subimg2 {
    background-color: rgb(84, 117, 33);
    width: 150px;
    height: 150px;
    background-size: 40px;

}

a:hover {
    color: rgb(204, 167, 0);
}

.texto {
    text-align: center;
    color: rgb(204, 167, 0);
    font-family: Arial, Helvetica, sans-serif
}

.texto2 {
    text-align: flex-start;
    color: rgb(204, 167, 0);
    font-family: Helvetica;
    font-size: 18px;
}

.texto3 {
    text-align: flex-start;
    color: rgb(204, 167, 0);
    font-family: Helvetica;
    font-size: 15px;
}

/* pagina para logados*/

.sair {
    margin: 10px;
    width: 5px;
    height: 30px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}